{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock header %}

{% block content %}

<div class="pt-5 mt-5 pb-5 mb-5">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-14 mb-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
              
                <div class="mt-3">
                  <h4>{{ author.username }}</h4>
                  <h4>{{ author.get_full_name }}</h4>
                  <div class="row">
                    <b> Подписчиков : </b>
                    <p class="text-muted"> {{ author.following.count }} </p>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <b> Подписан на : </b>
                    <p class="text-muted"> {{ author.followers.count }} </p>
                  </div>
                  <h6 class="text-muted font-size-sm">
                    {{ author.bio }}
                  </h6>
                  {% if user.is_authenticated %}
                    {% if user in author.following.all %}
                       
                        <a href="{% url 'followToggle' author=author.username  %}" class="btn btn-primary">Отписаться</a>
                     
                    
                      {% else %}
                        <a  href="{% url 'followToggle' author=author.username  %}" class="btn btn-primary"> Подписаться </a>
                    {% endif %}
                    
                  {% else %}
                    <p class="text-muted"> please, login to follow </p>
                  {% endif %}

      {{tak.author.get_full_name}}      
    {% for post in tak %}
    <h3>
Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>                                                                                  
    <p>{{ post.text|linebreaksbr }}</p>
    {% endfor %}

{% endblock content %}